In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
df = pd.read_excel("Nutritional-Information.xlsx")

In [7]:
df.head()

,MenuItem,Image,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
0,McVeggie Burger,NaN,No options,Burgers,Veg,402.0,10.0,14.0,5.0,0.0,2.0,57.0,8.0,706.0
1,McAloo Tikki Burger,NaN,No options,Burgers,Veg,340.0,9.0,11.0,4.0,0.0,1.0,50.0,7.0,545.0
2,McSpicy Paneer Burger,NaN,No options,Burgers,Veg,653.0,20.0,39.0,17.0,0.0,22.0,52.0,8.0,1075.0
3,Spicy Paneer Wrap,NaN,No options,Wraps,Veg,727.0,21.0,43.0,20.0,0.0,41.0,64.0,6.0,1223.0
4,Corn & Cheese Veg Burger,NaN,No options,Burgers,Veg,512.0,15.0,23.0,11.0,0.0,25.0,57.0,8.0,1051.0

In [9]:
df.drop('Image',axis=1,inplace=True)
df.head()

,MenuItem,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
0,McVeggie Burger,No options,Burgers,Veg,402.0,10.0,14.0,5.0,0.0,2.0,57.0,8.0,706.0
1,McAloo Tikki Burger,No options,Burgers,Veg,340.0,9.0,11.0,4.0,0.0,1.0,50.0,7.0,545.0
2,McSpicy Paneer Burger,No options,Burgers,Veg,653.0,20.0,39.0,17.0,0.0,22.0,52.0,8.0,1075.0
3,Spicy Paneer Wrap,No options,Wraps,Veg,727.0,21.0,43.0,20.0,0.0,41.0,64.0,6.0,1223.0
4,Corn & Cheese Veg Burger,No options,Burgers,Veg,512.0,15.0,23.0,11.0,0.0,25.0,57.0,8.0,1051.0

In [10]:
df.dtypes

MenuItem          object
Size              object
Category          object
Dietary           object
Calories         float64
Protein          float64
Fats             float64
Saturated Fat    float64
Trans fat        float64
Cholesterols     float64
Carbs            float64
Total sugars     float64
Sodium           float64
dtype: object

In [13]:
convert_dict = {
    "Calories":int,
    "Protein":int,
}

df_new = df.astype(convert_dict)
df_new.head()

,MenuItem,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
0,McVeggie Burger,No options,Burgers,Veg,402,10,14.0,5.0,0.0,2.0,57.0,8.0,706.0
1,McAloo Tikki Burger,No options,Burgers,Veg,340,9,11.0,4.0,0.0,1.0,50.0,7.0,545.0
2,McSpicy Paneer Burger,No options,Burgers,Veg,653,20,39.0,17.0,0.0,22.0,52.0,8.0,1075.0
3,Spicy Paneer Wrap,No options,Wraps,Veg,727,21,43.0,20.0,0.0,41.0,64.0,6.0,1223.0
4,Corn & Cheese Veg Burger,No options,Burgers,Veg,512,15,23.0,11.0,0.0,25.0,57.0,8.0,1051.0

In [14]:
df_new.dtypes

MenuItem          object
Size              object
Category          object
Dietary           object
Calories           int32
Protein            int32
Fats             float64
Saturated Fat    float64
Trans fat        float64
Cholesterols     float64
Carbs            float64
Total sugars     float64
Sodium           float64
dtype: object

In [19]:
convert_dict = {
    "Fats":int,
#     "Saturated Fat":int,
#     "Trans fat":int,
#     "Cholesterols":int,
#     "Carbs":int,
#     "Total sugars":int,
#     "Sodium":int
}

df_new = df.astype(convert_dict)

In [20]:
df_new.head()

,MenuItem,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
0,McVeggie Burger,No options,Burgers,Veg,402.0,10.0,14,5.0,0.0,2.0,57.0,8.0,706.0
1,McAloo Tikki Burger,No options,Burgers,Veg,340.0,9.0,11,4.0,0.0,1.0,50.0,7.0,545.0
2,McSpicy Paneer Burger,No options,Burgers,Veg,653.0,20.0,39,17.0,0.0,22.0,52.0,8.0,1075.0
3,Spicy Paneer Wrap,No options,Wraps,Veg,727.0,21.0,43,20.0,0.0,41.0,64.0,6.0,1223.0
4,Corn & Cheese Veg Burger,No options,Burgers,Veg,512.0,15.0,23,11.0,0.0,25.0,57.0,8.0,1051.0

In [ ]:
convert_dict = {
#     "Fats":int,
#     "Saturated Fat":int,
#     "Trans fat":int,
#     "Cholesterols":int,
#     "Carbs":int,
#     "Total sugars":int,
    "Sodium":int
}

df_new = df.astype(convert_dict)

In [54]:
ind = df_new.loc[(df_new["MenuItem"] == "Mixed Berry Smoothie") & (df_new["Size"] == "10 oz")].index[0]

In [59]:
df_new.loc[ind, "Sodium"] = 0

In [60]:
df_new.iloc[87:88]

,MenuItem,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
87,Mixed Berry Smoothie,10 oz,Beverages,Veg,235.0,3.33,3.59,3.0,0.0,10.0,47.0,43,0.0

In [61]:
df = df_new
df.head()

,MenuItem,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
0,McVeggie Burger,No options,Burgers,Veg,402.0,10.0,14.0,5.0,0.0,2.0,57.0,8,706.0
1,McAloo Tikki Burger,No options,Burgers,Veg,340.0,9.0,11.0,4.0,0.0,1.0,50.0,7,545.0
2,McSpicy Paneer Burger,No options,Burgers,Veg,653.0,20.0,39.0,17.0,0.0,22.0,52.0,8,1075.0
3,Spicy Paneer Wrap,No options,Wraps,Veg,727.0,21.0,43.0,20.0,0.0,41.0,64.0,6,1223.0
4,Corn & Cheese Veg Burger,No options,Burgers,Veg,512.0,15.0,23.0,11.0,0.0,25.0,57.0,8,1051.0

In [69]:
df

,MenuItem,Size,Category,Dietary,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
0,McVeggie Burger,No options,Burgers,Veg,402.00,10.00,14.00,5.00,0.00,2.00,57.00,8,706.00
1,McAloo Tikki Burger,No options,Burgers,Veg,340.00,9.00,11.00,4.00,0.00,1.00,50.00,7,545.00
2,McSpicy Paneer Burger,No options,Burgers,Veg,653.00,20.00,39.00,17.00,0.00,22.00,52.00,8,1075.00
3,Spicy Paneer Wrap,No options,Wraps,Veg,727.00,21.00,43.00,20.00,0.00,41.00,64.00,6,1223.00
4,Corn & Cheese Veg Burger,No options,Burgers,Veg,512.00,15.00,23.00,11.00,0.00,25.00,57.00,8,1051.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Mixed Fruit,No options,Condiments,Veg,72.25,0.65,0.02,0.02,0.02,0.01,18.00,16,10.80
187,Piri Piri Cheese Slice,No options,Condiments,Veg,37.98,2.08,3.06,1.93,0.11,9.65,0.52,0,163.78
188,Classic Cheese Dip,No options,Condiments,Veg,41.14,1.12,3.14,1.64,0.00,1.24,2.12,1,112.22
189,Sweet Chilli Dip,No options,Condiments,Veg,42.00,0.50,0.10,0.00,0.00,0.00,10.00,10,360.00
190,Tangy Pepper Dip,No options,Condiments,Veg,39.00,0.50,0.10,0.00,0.00,0.00,9.00,8,360.00

In [71]:
from pymongo import MongoClient
def get_database():
 
   # Provide the mongodb atlas url to connect python to mongodb using pymongo
   CONNECTION_STRING = "mongodb://127.0.0.1:27017/"
 
   # Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
   client = MongoClient(CONNECTION_STRING)
 
   # Create the database for our example (we will use the same database throughout the tutorial
   return client['FASTFOOD']
  
# # This is added so that many files can reuse the function get_database()
# if __name__ == "__main__":   
  
#    # Get the database
#    dbname = get_database()

In [72]:
dbname = get_database()

In [75]:
collection_name = dbname["items"]

In [76]:
item_1 = {
  "_id" : "U1IT00001",
  "item_name" : "Blender",
  "max_discount" : "10%",
  "batch_number" : "RR450020FRG",
  "price" : 340,
  "category" : "kitchen appliance"
}

item_2 = {
  "_id" : "U1IT00002",
  "item_name" : "Egg",
  "category" : "food",
  "quantity" : 12,
  "price" : 36,
  "item_description" : "brown country eggs"
}
collection_name.delete_many({})

InsertManyResult(['U1IT00001', 'U1IT00002'], acknowledged=True)

In [77]:
collection_name.delete_many({})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [88]:
for index, row in df.iterrows():
    name = row['MenuItem']
    size = row['Size']
    category = row["Category"]
    dietary = row["Dietary"]
    calories = row["Calories"]
    protein = row["Protein"]
    fats = row["Fats"]
    saturated = row["Saturated Fat"]
    trans = row["Trans fat"]
    cholesterols = row["Cholesterols"]
    carbs = row["Carbs"]
    sugar = row["Total sugars"]
    sodium = row["Sodium"]
    
    nutrition = {
        "calories":calories,
        "protein":protein,
        "fats":fats,
        "saturated":saturated,
        "trans":trans,
        "cholesterol":cholesterols,
        "carbs":carbs,
        "sugar":sugar,
        "sodium":sodium
    }
    
    item = {
        "name":name,
        "company":"McDonald's",
        "size":size,
        "category":category,
        "dietary":dietary,
        "nutrition":nutrition
    }
    collection_name.insert_one(item)

In [89]:
df.describe()

,Calories,Protein,Fats,Saturated Fat,Trans fat,Cholesterols,Carbs,Total sugars,Sodium
count,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000
mean,265.147435,7.236911,10.718115,5.988429,0.042880,23.343089,35.059843,18.413613,350.719215
std,186.475735,7.726984,10.400693,5.544184,0.105119,43.329357,21.332206,17.433532,445.123255
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,128.460000,1.000000,1.750000,0.715000,0.000000,2.000000,20.000000,3.000000,59.980000
50%,241.000000,5.000000,9.470000,5.000000,0.000000,9.140000,33.000000,14.000000,155.060000
75%,365.500000,10.000000,15.000000,9.000000,0.030000,26.000000,49.575000,29.500000,525.000000
max,833.000000,36.130000,45.260000,28.250000,1.000000,302.610000,94.000000,75.000000,1963.000000